.alert {
    height: 30px;
    background: rgba(255,255,255,0.8);
    width: 300px;
    margin: auto;
    display: none;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-weight: bold;
}

.alert.alert--red {
    display: flex;
    color: #e40000;


}

.alert.alert--green {
    display: flex;
    color: #00ff00;

}